<% include ./src/includes/head %>

    <% include ./src/includes/top %>

    <div class="o-container">
        
    <div class="c-categories c-categories--page">
        <div class="o-wrap">
            <header class="o-header">
                <h1>Mellemlæg</h1>
                <h5 class="o-lead o-lead--third">Antal tilgængelige produkter: <strong>14</strong></h5>
            </header>

            <article class="o-article">
                <p>Grundlæggende information: Ved at anvende mellemlæg på pallen, kan du let organisere og sikre cylindriske elementer, som f.eks. rør, valser etc., under transport eller under oplagring, hvilket begrænser bevægeligheden og eliminerer fysisk kontakt. Mellemlæg sikrer passende og jævn afstand imellem elementerne. De muliggør stabling i større højder.</p>
            </article>
            
            <div class="c-products">
                <div class="o-wrap">
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                    <a href="product-details.html" class="c-products__item">
                        <figure>
                            <img src=<%= require("./img/photos/product-thumb.jpg") %> alt="" width="224" height="224">
                        </figure>
                        
                        <p>Nazwa produktu nr. 1</p>
                    </a>
                    
                </div>
                
                <div class="c-products__sticker">

                    <% include ./src/includes/sticker %>

                </div>
            </div>
            
        </div>
    </div>
        
    <% include ./src/includes/treatment %>
    <% include ./src/includes/footer %>
    
    </div>

</body>
</html>
